*,
::before,
::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #0f172a;
    color: #f8fafc;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 0 1rem;
    flex-direction: column;
    width: 100%;
}

ul{
    margin: 0;
    list-style: none;
    padding: 3rem;
    background-color: #737373;
    width: 100%;
    border-radius: 0.5rem;
    max-height: 25rem;
    overflow: auto;
}

.task{
    display: flex;
    gap: 1rem;
}

#textbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

